.password-reset-otp-confirmation-form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 25px;
    text-align: center;
    box-shadow: 1px 1px 10px rgb(157, 157, 157);
    border-radius: 4px;
}

.password-reset-otp-confirmation-form input {
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 17px;
}

.password-reset-otp-confirmation-form div {
    padding: 10px 0;
}

.password-reset-otp-confirmation-form button {
    padding: 12px 17px;
    cursor: pointer;
    background-color: #0F4C81;
    border: none;
    color: #fff;
    font-size: 17px;
    border-radius: 20px;
}

.password-reset-otp-confirmation-form h3 {
    margin-bottom: 20px;
}

.reset-password-password {
    position: relative;
}

.reset-password-password .eye-show-password {
    position: absolute;
    top: 24px;
    right: 10px;
    opacity: 0.5;
}

.reset-password-password .d-none {
    display: none;
}